<!DOCTYPE html>


<html>

<head>
    <title>Train Arrival</title>
</head>


<body>
    
    <h1>Enter train data</h1>
    <form id="data-form">
        <input type="text" id="input-distance" name="input-distance" placeholder="Enter distance">
        <input type="text" id="input-speed" name="input-speed" placeholder="Enter speed">
        <button type="submit">Enter</button>
    </form>

    <h1 id="data-heading">Train Arrival</h1>
    <p id="data"></p>

    <script>
        function updateData(newData) {
            if(newData!=-1){
                document.getElementById('data').innerText = "Train will be arrived in "+ newData +" minutes";
            }
            else{
                document.getElementById('data').innerText = "Enable to connect to the controller...";
            }
        }

        function fetchData() {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => updateData(data.value))
                .catch(error => console.error('Error:', error));
        }

        function sendData(event) {
            event.preventDefault();
            const formData = new FormData(document.getElementById('data-form'));
            const inputDistance = formData.get('input-distance');
            const inputSpeed = formData.get('input-speed');
            fetch('/send_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ distance: inputDistance , speed: inputSpeed})
            })
                .then(() => console.log('Data sent successfully'))
                .catch(error => console.error('Error:', error));
        }

        document.getElementById('data-form').addEventListener('submit', sendData);
        setInterval(fetchData, 1000);
        fetchData();
    </script>
</body>

</html>